# PyCharm / IDE
.idea/
*.iml
*.iws
*.ipr

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs，忽略本地生成的日志
logs/
*.log

# 忽略环境变量文件
.env


*.task
*.pt
*.pth
*.onnx